.headline{
    font-weight: 300;
    font-size: 1.8rem;
    color: $mainBlue;

    @mixin atSmall{
        font-size: 2.875rem;
    }

    &--centered{
        text-align: center;
    }

    &--orange{
        color: $mainOrange;
    }
    
    &--small{
        
        font-size: 1.35rem;

        @mixin atSmall{
            font-size: 1.875rem;
        }
    }

    &--light{
        font-weight: 200;
    }

    &--narrow{
        max-width: 31.25rem;
        margin: auto;
    }

    &--b-margin-small{
        margin-bottom: .5em;
    }
    
    &--b-margin-large{
        margin-bottom: 1.6em;
    }

    &--no-t-margin{
        margin-top: 0;
    }

}