.header-section{
    padding: .8rem 0;
    position: absolute;
    z-index: 100;
    width: 100vw;

    @mixin atMedium{
        background: rgba($mainBlue, .3);
    }

    &__menu-icon{
        width: 25px;
        height: 25px;
        position: absolute;
        right: 35px;
        top: 30px;
        background: #fff;
    }
    
    &__logo{
        position: absolute;
        top: 0;
        padding: 13px 35px;
        left: 50%;
        transform: translateX(-50%);
        background: $mainBlue;

        @mixin atMedium{
            padding: 25px 36px;
            left: auto;
            transform: translateX(0);
        }
    }

    &__nav-container{

        display: none;

        @mixin atMedium{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--is-visible{
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

}