.header-section{
    padding: .8rem 0;
    position: absolute;
    z-index: 100;
    width: 100%;
    transition: background-color .3s ease-out;

    @mixin atMedium{
        position: fixed;
        background: rgba($mainBlue, .3);

        &--dark{
            background-color: rgba(23, 51, 72, .85);
        }

    }

    /* Hamburger Button itself */
    &__menu-icon{
        width: 24px;
        height: 17px;
        position: absolute;
        right: 15px;
        top: 25px;
        z-index: 5;
        cursor: pointer;


        /* the 3 bars */
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 24px;
            height: 3px;
            background-color: #fff;
            transform-origin: 0 0;
            transition: transform .3s ease-out;
        }

        &__middle{
            position: absolute;
            /* top: 50%; */
            top: 7px;
            /* transform: translateY(-50%); */
            left: 0;
            width: 24px;
            height: 3px;
            background-color: #fff;
            transition: all .3s ease-out;
            transform-origin: 0 50%;
        }

        &::after{
            content: "";
            position: absolute;
            bottom: 0%;
            left: 0;
            width: 24px;
            height: 3px;
            background-color: #fff;
            transform-origin: 0 100%;
            transition: transform .3s ease-out;
        }

        /* Making of X */
        &--close-x{
            &::before{
                transform: rotate(40deg);
            }

            .header-section__menu-icon__middle{
                opacity: 0;
                transform: scaleX(0);
            }

            &::after{
                transform: rotate(-40deg) translateY(1px);
            }

        }
        

        @mixin atMedium{
            display: none;
        }

    }


    &__logo{
        object-fit: contain;
        position: absolute;
        top: 0;
        transform: translateX(-50%) scale(.8);
        /* transform-origin: -50% 0; */
        transform-origin: center 0;
        left: 50%;
        transition: all .3s ease-out;
        padding: 25px 35px;
        background: $mainBlue;


        @mixin atMedium{
            left: auto;
            transform: translateX(0);

            .header-section--dark &{
                transform: scale(.62);
            }
/* 
            .header-section--dark &:hover{
                transform: scale(.8);
            } */

        }
    }

    &__logo:hover{
    }

    &__nav-container{
        opacity: 0;
        z-index: -10;
        width: 100%;
        transform: scale(1.2); 
        transition: all .3s ease-out;
        padding-top: 100px;
        text-align: center;

        @mixin atMedium{
            opacity: 1;
            z-index: 1;
            padding-top: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            transform: scale(1);
        }

        &--is-visible{
            opacity: 1;
            z-index: 1;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            transform: scale(1);
        }

        &--is-expanded{
            background: rgba($mainBlue, .6);
        }


    }

}