.modal{
    opacity: 0;
    visibility: hidden;
    transform: scale(1.2);
    transition: all .3s ease-out;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, .94);
    z-index: 250;
    display: flex;
    align-items: center;
    justify-content: center;

    &--is-visible{
        opacity: 1;
        visibility: visible;
        transform: scale(1);
    }


    &__description{
        text-align: center;
        font-size: 1.3rem;
        font-weight: 300;
        line-height: 1.65;
        margin-bottom: 2rem;
    }

    &__close{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 2rem;
        transform: scaleX(1.2);
        transform-origin: 100% 0;
        transition: all .3s ease-out;
        cursor: pointer;
        color: $mainBlue;
    }

    &__close:hover{
        color: $mainOrange;
    }

}