.primary-nav{

    margin: .6rem 0;

    @mixin atMedium{
        margin: 0;
    }

    ul{
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center; 
        margin-bottom: 2rem;

        @mixin atMedium{
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    li{
        list-style-type: none;
    }
    
    a{
        text-decoration: none;
        color: #fff;
        padding: .6rem .5rem;
        transition: .3s all ease;
        margin: 0 .4rem;
        font-size: .8rem;
        /* transform: scale(1.1); */
        display: inline-block;
        background-color: rgba($mainBlue, .7);

        @mixin atExtraSmall{
            padding: .8rem 1rem;
            font-size: .9rem;
        }

        @mixin atSmall{
            font-size: 1rem;
            padding: .8rem 1rem;
            margin: 0 1rem;
        }

        @mixin atMedium{
            background-color: rgba($mainBlue, 0);
            margin-right: 1.5rem;

            &.is-current-link{
                color: #fabb69;
                transform: scale(1.1);
            }

        }

    }

    a:hover{
        transform: scale(1.1);
        color: #fabb69;
    }

}