.section-title{
    font-size: 2.55rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0;

    @mixin atSmall{
        font-size: 3.75rem;
    }

    &--blue{
        color: $mainBlue;
    }

    &--less-margin{
        margin-top: 0;
        margin-bottom: 0;
    }

    &__icon{

        display: block;
        margin: 1.25rem auto;
        
        @mixin atMedium{
            position: relative; 
            top: 8px; 
            display: inline-block;
            margin-bottom: 0;
            margin-right: 1rem;
        }

    }

    strong{
        font-weight: 500;
    }
}