.wrapper{
    padding: 0 1.1rem;
    max-width: 1236px;
    margin: auto;

    /* display flex for the nav */
    &--display-flex{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &--narrow{
        max-width: 570px;
    }

    &--no-padding-until-medium{
        padding: 0;

        @mixin atLarge{
            padding: 0 1.1rem;
        }

    }

    &--medium{
        max-width: 976px;
    }

    &--b-margin{
        margin-bottom: 1rem;

        @mixin atSmall{
            margin-bottom: 3.875rem;
        }

    }
    

    .wrapper{
        padding: 0 0;
    }

}