
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: "Roboto", sans-serif;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
}

.display-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

a{
    color: $mainOrange;
}