@define-mixin atExtraSmall{
    @media(min-width:400px){
        @mixin-content;
    }
}

@define-mixin atSmall{
    @media(min-width:530px){
        @mixin-content;
    }
}

@define-mixin atMedium{
    @media(min-width:850px){
        @mixin-content;
    }
}

@define-mixin atLarge{
    @media(min-width:1000px){
        @mixin-content;
    }
}